@media (max-width: 768px) {
    main {
        flex-direction: column;

        .image_area {
            height: 200px !important;

            img {
                display: none;
            }

            #mobile_image {
                display: block !important;
                border-radius: 10px 10px 0 0;
            }
        }
    }
}